{% extends 'base.html' %}

{% block title %}
    All books
{% endblock %}

{% block content %}
    <ul>
        {% for book in books %}
            {% comment %} <li><a href="{% url "book-detail" book.id %}">{{ book.title }} (Rating: {{ book.rating }})</a></li> {% endcomment %}
            <li><a href="{{ book.get_absolute_url }}">{{ book.title }} (Rating: {{ book.rating }})</a></li>
        {% endfor %}
    </ul>

    <hr />
    
    <p>Total Number of Books: {{ total_books_count }}</p>
    <p>Average Rating: {{ avg_rating.rating__avg }}</p>
{% endblock %}